@font-face {
  font-family: 'Flame';
  src: url('./fonts/FlameRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flame';
  src: url('./fonts/FlameBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
    font-family: 'Flame', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
}

header {
    color: white;
    background-color: #82BF2B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img {
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    width: 150px;
    margin: 1rem;
}

h1, h2 {
    text-decoration: underline;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

main {
    background-color: #702F1C;
    color: white;
}

section {
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.contexto {
    background-color: #E63514;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.instrucoes {
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

fieldset {
    border: 0.4rem solid white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

legend {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

footer {
    padding: 1rem;
    background-color: #F4B677;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

input[type="radio"] {
    margin-right: 1rem;
    margin-left: 1rem;
}

input[type="text"], input[type="email"] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.2rem solid white;
    background-color: transparent;
}

select {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 9rem;
    border-radius: 1rem;
    border: 0.2rem solid white;
    background-color: transparent;
    color: white;
}

select option {
    background-color: #702F1C;
    color: white;
}

::placeholder {
    color: white;
}